
body {
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(135deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: hsl(278, 68%, 11%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.card-front, .card-back {
    background: linear-gradient(135deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 320px;
    margin: 10px 0;
    color: white;
}

.card-back {
    background: hsl(278, 94%, 30%);
}

.card-logo {
    display: flex;
    justify-content: flex-end;
}

.card-logo img {
    width: 50px;
}

.card-details {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card-number, .card-name, .card-expiry, .card-cvc {
    font-size: 18px;
    margin: 5px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: hsl(279, 6%, 55%);
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
    width: 100%;
}

input:focus {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    outline: none;
}

.error-message {
    color: hsl(0, 100%, 66%);
    font-size: 12px;
    display: none;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(278, 94%, 30%);
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
        flex-direction: row;
        justify-content: space-around;
    }
    .card-display {
        flex-direction: row;
        width: 50%;
    }
    form {
        width: 40%;
    }
}
